.order-first { order: -1!important; }
.order-0 { order: 0!important; }
.order-1 { order: 1!important; }
.order-2 { order: 2!important; }
.order-3 { order: 3!important; }
.order-4 { order: 4!important; }
.order-5 { order: 5!important; }
.order-last { order: 6!important; }

.d-inline { display: inline!important; }
.d-inline-block { display: inline-block!important; }
.d-block { display: block!important; }
.d-grid { display: grid!important; }
.d-inline-grid { display: inline-grid!important; }
.d-flex { display: flex!important; }
.d-inline-flex { display: inline-flex!important; }
.d-none, [hidden] { display: none!important; }
.nowrap { white-space: nowrap; }

@media (min-width: 0) {

  .d-xs-inline { display: inline!important; }
  .d-xs-inline-block { display: inline-block!important; }
  .d-xs-block { display: block!important; }
  .d-xs-grid { display: grid!important; }
  .d-xs-inline-grid { display: inline-grid!important; }
  .d-xs-flex { display: flex!important; }
  .d-xs-inline-flex { display: inline-flex!important; }
  .d-xs-none { display: none!important; }

}

@media (min-width: 600px) {

  .order-sm-first { order: -1!important; }
  .order-sm-0 { order: 0!important; }
  .order-sm-1 { order: 1!important; }
  .order-sm-2 { order: 2!important; }
  .order-sm-3 { order: 3!important; }
  .order-sm-4 { order: 4!important; }
  .order-sm-5 { order: 5!important; }
  .order-sm-last { order: 6!important; }

  .d-sm-inline { display: inline!important; }
  .d-sm-inline-block { display: inline-block!important; }
  .d-sm-block { display: block!important; }
  .d-sm-grid { display: grid!important; }
  .d-sm-inline-grid { display: inline-grid!important; }
  .d-sm-flex { display: flex!important; }
  .d-sm-inline-flex { display: inline-flex!important; }
  .d-sm-none { display: none!important; }

}

@media (min-width: 782px) {

  .order-md-first { order: -1!important; }
  .order-md-0 { order: 0!important; }
  .order-md-1 { order: 1!important; }
  .order-md-2 { order: 2!important; }
  .order-md-3 { order: 3!important; }
  .order-md-4 { order: 4!important; }
  .order-md-5 { order: 5!important; }
  .order-md-last { order: 6!important; }

  .d-md-inline { display: inline!important; }
  .d-md-inline-block { display: inline-block!important; }
  .d-md-block { display: block!important; }
  .d-md-grid { display: grid!important; }
  .d-md-inline-grid { display: inline-grid!important; }
  .d-md-flex { display: flex!important; }
  .d-md-inline-flex { display: inline-flex!important; }
  .d-md-none { display: none!important; }

}

@media (min-width: 992px) {

  .order-lg-first { order: -1!important; }
  .order-lg-0 { order: 0!important; }
  .order-lg-1 { order: 1!important; }
  .order-lg-2 { order: 2!important; }
  .order-lg-3 { order: 3!important; }
  .order-lg-4 { order: 4!important; }
  .order-lg-5 { order: 5!important; }
  .order-lg-last { order: 6!important; }

  .d-lg-inline { display: inline!important; }
  .d-lg-inline-block { display: inline-block!important; }
  .d-lg-block { display: block!important; }
  .d-lg-grid { display: grid!important; }
  .d-lg-inline-grid { display: inline-grid!important; }
  .d-lg-flex { display: flex!important; }
  .d-lg-inline-flex { display: inline-flex!important; }
  .d-lg-none { display: none!important; }

}

@media (min-width: 1200px) {

  .order-xl-first { order: -1!important; }
  .order-xl-0 { order: 0!important; }
  .order-xl-1 { order: 1!important; }
  .order-xl-2 { order: 2!important; }
  .order-xl-3 { order: 3!important; }
  .order-xl-4 { order: 4!important; }
  .order-xl-5 { order: 5!important; }
  .order-xl-last { order: 6!important; }

  .d-xl-inline { display: inline!important; }
  .d-xl-inline-block { display: inline-block!important; }
  .d-xl-block { display: block!important; }
  .d-xl-grid { display: grid!important; }
  .d-xl-inline-grid { display: inline-grid!important; }
  .d-xl-flex { display: flex!important; }
  .d-xl-inline-flex { display: inline-flex!important; }
  .d-xl-none { display: none!important; }

}

@media (min-width: 1400px) {

  .order-xxl-first { order: -1!important; }
  .order-xxl-0 { order: 0!important; }
  .order-xxl-1 { order: 1!important; }
  .order-xxl-2 { order: 2!important; }
  .order-xxl-3 { order: 3!important; }
  .order-xxl-4 { order: 4!important; }
  .order-xxl-5 { order: 5!important; }
  .order-xxl-last { order: 6!important; }

  .d-xxl-inline { display: inline!important; }
  .d-xxl-inline-block { display: inline-block!important; }
  .d-xxl-block { display: block!important; }
  .d-xxl-grid { display: grid!important; }
  .d-xxl-inline-grid { display: inline-grid!important; }
  .d-xxl-flex { display: flex!important; }
  .d-xxl-inline-flex { display: inline-flex!important; }
  .d-xxl-none { display: none!important; }

}

.flex-fill { flex: 1 1 auto!important; }
.flex-row { flex-direction: row!important; }
.flex-column { flex-direction: column!important; }

.flex-row-reverse { flex-direction: row-reverse!important; }
.flex-column-reverse { flex-direction: column-reverse!important; }

.flex-wrap { flex-wrap: wrap!important; }
.flex-nowrap { flex-wrap: nowrap!important; }
.flex-wrap-reverse { flex-wrap: wrap-reverse!important; }

.justify-content-start { justify-content: flex-start!important; }
.justify-content-end { justify-content: flex-end!important; }
.justify-content-center { justify-content: center!important; }
.justify-content-between { justify-content: space-between!important; }
.justify-content-around { justify-content: space-around!important; }
.justify-content-evenly { justify-content: space-evenly!important; }

.align-items-start { align-items: flex-start!important; }
.align-items-end { align-items: flex-end!important; }
.align-items-center { align-items: center!important; }
.align-items-baseline { align-items: baseline!important; }
.align-items-stretch { align-items: stretch!important; }

.align-content-start { align-content: flex-start!important; }
.align-content-end { align-content: flex-end!important; }
.align-content-center { align-content: center!important; }
.align-content-between { align-content: space-between!important; }
.align-content-around { align-content: space-around!important; }
.align-content-stretch { align-content: stretch!important; }

.h-100 { height: 100%!important; }
